.check-list  li {
	background: url(http://static.livedemo00.template-help.com/drupal_52188/sites/all/themes/theme935/images/list-marker.png) 0 8px no-repeat;
    list-style: none;
    margin: 0;
    font-weight: 300;
    font-style: italic;
    font-size: 17px;
    line-height: 30px;
    padding: 0 0 0 26px;
    margin-left: -38px;
}
